<!-- Flushing Map -->
	<div class="w3-center w3-padding-16" style="font-family:karma;font-size:30px">Flushing on the Map</div>
	<div class="w3-row-padding w3-padding-16 w3-center">

			<img src="https://static01.nyt.com/packages/images/newsgraphics/2011/0123-nyc-ethnic-neighborhoods-map/nyt-2010-nyc-mosaic-map.png" alt="Map" style="width:50%"><br>
      <br><a title="View Google Maps" href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&oe=UTF8&msa=0&mid=1dcCfyBsJKYNAoWmm7nln99uGAs8&ll=40.74977262220178%2C-73.848534&z=13" class="w3-grey w3-button">Get Directions</a><br>
      <br>
			<p>Flushing contains numerous residential subsections, and its diversity is reflected by the numerous ethnic groups that
        reside there. Flushing is served by several stations on the Long Island Rail Road's Port Washington Branch, as well as
        the New York City Subway's IRT Flushing Line 7 and 7 trains, which has its terminus at Main Street.Flushing is located
        in Queens Community District 7, and its ZIP Codes are 11354, 11355, and 11358. It is patrolled by the New York City
        Police Department's 109th Precinct.</p>
		</div>
	</div>
  <br>