<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img src="https://visitflushing.com/images/nyc.jpg" alt="NYC">
    <div class="w3-display-middle w3-margin-top w3-center">
  <h1 class="w3-xxlarge w3-grey"><span class="w3-padding w3-black w3-opacity-min"><b>NYC</b></span> <span class="w3-hide-small w3-text-light-grey">from across the river</span></h1>
   </div>
  </header>
<div class="w3-top w3-card " style="width:100%">
           <div class="w3-bar w3-white w3-wide w3-card w3-padding-16">
            <h5 class="w3-bar-item"><b>Flushing</b> New York</h5>
             <!-- weather widget start -->
              <a class="w3-bar-item" title="Current Weather" href="https://www.weatherwx.com/forecast/ny/new+york.html" target="_blank"><img style="width: 140px;"
                src="https://www.weatherwx.com/forecast.php?forecast=hourly&place=new+york&state=ny&country=us&config=png&alt=hwitransparentbbb&hwvbg=transparent"
                 alt="Click for the latest New York weather forecast."></a>
                 <!-- weather widget end -->
                  <p class="w3-right w3-bar-item w3-hide-small"> Local Time (ET) <span id="datetime"></p>
                   </div>
                    </div>
                     <!-- Local Time Script -->
                      <script>
                      // Local time function
                     var dt = new Date();
                     document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
                  </script>
                 <!-- Page content -->
                <div class="w3-content w3-padding" style="max-width:1564px">
              <!-- Project Section  -->
             <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Features</h3>
           </div>
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Main Street</div>
        <img src="https://visitflushing.com/images/mainSt.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">7 Train</div>
        <img src="https://visitflushing.com/images/7-train.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Sky View Mall</div>
        <img src="https://visitflushing.com/images/skyView.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Flushing Meadows</div>
        <img src="https://visitflushing.com/images/meadows.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Multicultural Flushing is home to the city’s largest Chinatown, with bustling sidewalks, a tumult of shops, and eateries serving soup dumplings to Taiwanese pancakes. Korean and Indian cultures are well represented too. Built in 1862, Flushing Town Hall now hosts jazz concerts, and several historic homes date to the 17th and 18th centuries. The Queens Botanical Garden is a 39-acre oasis with a focus on native plants.</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/Tuliptime3.png" alt="Garden" style="width:100%">
      <h3>Botanical Garden</h3>
      <p class="w3-opacity">Parks & Recreation</p>
      <p>Queens Botanical Garden is a botanical garden located at 43-50 Main Street in Flushing, Queens, New York City. The 39-acre site features rose, bee, herb, wedding, and perennial gardens; an arboretum; an art gallery; and a LEED-certified Visitor & Administration Building.</p>

      <!-- Redirecting to another page + details on hover -->
      <a title="Click for more details about this park" href="index2.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/flushing-ny-map.jpg" alt="Map" style="width:100%">
      <h3>Directions</h3>
      <p class="w3-opacity">Map</p>
      <p>Flushing is located in the heart of Queens. It accessible from the LIE, Grand Central pkwy, Van Wyck expwy and Corss Island Parkway.</p>
      <!-- Redirecting to another page + details on hover -->
      <a title="Click for more details about this map" href="index3.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/restaurant.jpg" alt="Dinner" style="width:100%">
      <h3>Restaurants</h3>
      <p class="w3-opacity">Food</p>
      <p>Little Sheep Mongolian Hot Pot is a restaurant with a purpose. That purpose is to introduce all the of the great culinary traditions and flavors of Mongolia to the people of North America. Little Sheep creates an authentic experience for diners.</p>
      <!-- Redirecting to another page path (/details) + details on hover -->
      <a title="Click to find out about more restaurants" href="index2.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/hotels.jpg" alt="Hotel" style="width:100%">
      <h3>Hotels</h3>
      <p class="w3-opacity">Lodging</p>
      <p>Enjoy a variety of features during your stay at Hyatt Place Flushing / LaGuardia Airport, including free shuttle service to and from the LaGuardia airport.</p>
      <!-- Redirecting to another page path (/two) + details on hover -->
      <a title="Click for more hotels in Flushing" href="index3.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
  </div>


<!-- Image of Citifield -->
<div class="container" style="font-family:corbel;">
  <img src="https://visitflushing.com/images/citifield.jpg" class="w3-margin-bottom" style="width:100%">
    <div class="content">
    <h3><b>Feedback to developer</b></h3>
    <h5><b>Lets get in touch and talk about your next neighborhood portfolio...</b></h5>
      <%= render 'form', client: @client %>
    </div>
   </div>
  <!-- End page content -->
 </div>

<!-- Footer -->
<footer class="w3-center w3-grey w3-padding-16" style="margin-left:-3px">
  <p>Developed by <a class="fa fa-linkedin-square" style="color:#0e76a8" href="https://linkedin.com/in/muhammad-khan-21752a1a6" title="LinkedIn Profile" class="w3-hover-text-navy"> Muhammad Khan</a></p>
</footer>